<main class="container p-4">
<div class="card">
    <div class="card-body "></div>
    <h1>COVID-19</h1>
    <p>La COVID-19 afecta de distintas maneras en función de cada persona. La mayoría de las personas que se contagian presentan síntomas de intensidad leve o moderada, y se recuperan sin necesidad de hospitalización.
Los síntomas más habituales son los siguientes: <br>
Fiebre<br>
Tos<br>
Cansancio<br>
Pérdida del gusto o del olfato<br>
Los síntomas menos habituales son los siguientes:<br>
Dolor de garganta<br>
Dolor de cabeza<br>
Molestias y dolores<br>
Diarrea<br>
Erupción cutánea o pérdida del color de los dedos de las manos o los pies
Ojos rojos o irritados<br>
</p>
</div>
</main>