<main class="container-sm p-4">
        <div class="h-100 p-5 bg-light border rounded">
                <h1 class="display-4">Registro Covid-19</h1>
                <img src="/img/Principal.png" alt="" height="200px" width="800px">
                <hr class="my-4">          
                <a href="https://www.unaula.edu.co" class="btn btn-primary btn-lg " >Unaula</a>
        </div>
</main>