<main class="container p-4">
    <div class="h-100 p-5 bg-light border rounded-3">
        <img src="/img/protocolo banner.png" alt="" height="180px" width="1000px">
        <hr class="my-4">
        <div class="row block ">
            <img src="/img/info2.png" alt="" height="600px" width="500px">
            <img src="/img/info1.png" alt="" height="600px" width="500px">
        </div>
        <hr class="my-4">
        <a href="https://www.unaula.edu.co/covid-19" class="btn btn-primary btn-lg ">Mas Información</a>
    </div>
</main>